.social{
    position: fixed;
   width: 36px;
   height: 321px;
   left: 112px;
   top: 770px;
   }


  /* .social{
    position: absolute;
   width: 36px;
   height: 321px;
   left: 112px;
   top: 770px;
   }*/