
    <button mat-icon-button>
 
 
        <dl class="social">
        <dt><fa-icon style="font-size:40px;"[icon]= "faYoutube"> </fa-icon></dt>
        <dt><fa-icon style="font-size:40px;"[icon]= "faFacebook"> </fa-icon></dt>
        <dt><fa-icon style="font-size:40px;"[icon]= "faGithub"> </fa-icon></dt>
        <dt><fa-icon style="font-size:40px;"[icon]= "faInstagram"> </fa-icon></dt>
        <dt><fa-icon style="font-size:40px;"[icon]= "faTwitter"> </fa-icon></dt>
        <dt><fa-icon style="font-size:40px;"[icon]= "faLinkedin"> </fa-icon></dt>
        </dl>
        </button>



