.ABackground{

    position: fixed;
width: 650px;
height: 669.35px;
left: 1775px;
top: 350px;
/* position: fixed;
left: 45.6%;
right: -22%;
top: 30.16%;
bottom: 6.77%; */

}
.Anish{
    position: fixed;
width: 500px;
height: 575.35px;
left: 1830px;
top: 375px;

}