/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; 
overflow-x: hidden;}

.light-theme{
    --background-color:#f5f5f5;
    --text-color:#1a1a1a;
    --box-color:#fff;
    --button-color:#fff;
}

body {
    --text-color: rgb(255, 255, 255);
    --bkg-color: #fff;
    --btn-txt-color: white;
    --btn-bg-color: rgb(11, 88, 160);
  }
  body.dark-theme {
    --text-color:rgb(0,0,0);
    --bkg-color: #1a1a1a;
    --btn-txt-color:rgb(255, 255, 255);
    --btn-bg-color: rgb(0,0,0);
  }
  
  body.dark-mode {
    background-color: #2d3436;
    color: #dfe6e9;
  }
  
  body.light-mode {
    background-color: #dfe6e9;
    color: #2d3436;
  }
  
  body {
    background: var(--bkg-color);
  }
  
  h1,
  p {
    color: var(--text-color);
  }
  button {
    padding: 10px;
    border: none;
    border-radius: 2px;
    color: rgb(255, 255, 255);
    background-color: var(--btn-bg-color);
  }